<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/tailwind.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Press+Start+2P&display=swap"
        rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style/style.css">
    <title>Battle Card</title>
</head>

<body>
    <header class="border-4 h-32 border-black flex flex-row justify-between content-center bg-orange-600">
        <h1 class="text-white text-6xl font-press-start p-10">
            Card Battle
        </h1>


        <!-- Only display the logout button if the user is logged in -->
        {{#if logged_in}}
        <nav>
            
        </nav>
        {{/if}}

        <div class="dropdown relative inline-block btn-game m-4">
            <button class="dropbtn"><svg class="text-white h-20 w-20 flex flex-row justify-between content-center"
                    xmlns=" http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-40 h-40">
                    <path stroke-linecap="square" stroke-linejoin="square"
                        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg></button>
            <div class="dropdown-content hidden absolute z-1 hover:block border-4 border-black bg-orange-600 mr-8 h-fit">
                {{#if logged_in}}
                <a class="btn-game" id="logout">Logout</a>
                <a class="btn-game" href="/customize">Customize</a>
                <a class="btn-game" href="/battle">Battle</a>
                <a class="btn-game" href="/">Homepage</a>

                {{else}}
                <a class="btn-game" href="/login">Login</a>
                <a class="btn-game" href="/signup">Sign Up</a>
                <a class="btn-game" href="/">Homepage</a>
                <a class="btn-game" href="/battle">Battle</a>

                {{/if}}
                {{!-- {{#if logged_in}} --}}
                {{!-- <a class="btn-game" href="/customize">Customize</a> --}}
                {{!-- {{else}} --}}
                {{!-- <a class="btn-game" href="/battle">Battle</a> --}}
                {{!-- {{/if}} --}}
            </div>
        </div>


    </header>
    <main>
       
        {{{ body }}}

    </main>
    {{#if inGame}}
    <footer class="border-4 h-28 w-full border-black flex flex-row justify-start content-center bg-orange-600">
        <a href="https://github.com/trufl/card-battle" target="_blank">
            <button class="btn-game m-8">
                Github Repository
            </button>
        </a>
    </footer>
    {{else}}
    <footer class="border-4 h-28 w-full absolute inset-x-0 bottom-0 border-black flex flex-row justify-start content-center bg-orange-600">
        <a href="https://github.com/trufl/card-battle" target="_blank">
            <button class="btn-game m-8">
                Github Repository
            </button>
        </a>
    </footer>
    {{/if}}
    <!-- Only include the logout script if the user is logged in -->
    {{#if logged_in}}
    <script src=" /js/logout.js">
    </script>
    {{/if}}

</body>

</html>