<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/tailwind.css">
    <title>User Registry</title>
</head>

<body>
    <header class="flex">
        <h1>
            Card Battle
        </h1>
        <!-- Only display the logout button if the user is logged in -->
        {{#if logged_in}}
        <nav>
            <button class="btn" id="logout">logout</button>
        </nav>
        {{/if}}
    </header>
    <main class="flex justify-around ">
        
        {{{ body }}}

    </main>
    <footer >

    </footer>

    <!-- Only include the logout script if the user is logged in -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>