<!-- not compltete -->

<section class="container">
<h3 class="card-selection"> Choose Your Hand</h3>
<!-- need alt cards -->
{{#each card}}
<div class="row align-center mb-5">
    <div class="col-md-6">
    <!-- display card as selectable option -->
    {{{card.image}}}

    </div>

</div>
{{/each}}
</section>

<!-- display users current cards -->
<section id="current-cards" class="contaimer">
    {{#each user.card}}
<div class="row align-center mb-5">
    <div class="col-md-6">
        {{{card.image}}}
    </div>
</div>
</section>