<section
    class=" max-h-screen w-full bg-indigo-700 flex justify-center content-center relative pb-32 pt-32 m-0 overflow-x-hidden">
    <section class="p-10 border-4 border-black bg-orange-600 h-fit">
        <a href="/signup">
            <button class="btn-game">
                Sign Up
            </button>
        </a>
        {{#if logged_in}}
        <div></div>
        {{else}}
        <a href="/login">
            <button class="btn-game">
                Login
            </button>
        </a>
        {{/if}}
        {{#if logged_in}}
        <a href="/customize">
            <button class="btn-game">
                Battle
            </button>
        </a>

        {{!-- <ul>
            {{#each user}}
            <li>
                <button class="btn-game">
                    {{user.username}}123
                </button>
            </li>
            {{/each}}
        </ul> --}}
        {{else}}
        <a href="/battle">
            <button class="btn-game">
                Battle as Guest
            </button>
        </a>
        {{/if}}
    </section>
</section>