<section class="h-screen w-screen bg-indigo-700 flex place-content-center">
    <div class="login-card p-10 m-20 border-4 border-black bg-orange-600 h-fit">
        <h2 class="text-white font-press-start text-lg">Login</h2>

        {{#if logged_in}}
        <div class="text-white font-press-start">You are already logged in!</div>
        <a href="/battle">
            <button class="btn-game">
                Battle as {{{username}}}
            </button>
        </a>
        {{else}}
        <form class="form login-form text-white font-press-start">
            <div class="form-group">
                <label for="email-login">Email:</label>
                <input class="form-input text-black border-2 border-black" type="text" id="email-login" />
            </div>

            <div class="form-group">
                <label for="password-login">Password:</label>
                <input class="form-input text-black border-2 border-black" type="password" id="password-login" />
            </div>

            <div class="form-group">
                <button class="btn" type="submit">Login</button>
            </div>
        </form>
        {{/if}}
    </div>
</section>

<script src="/js/login.js"></script>