
<section>
     {{!-- <div class="flex items-center justify-center w-full h-full px-4 "> --}}
            <h2 class="text-center font-press-start font-extrabold text-3xl pt-4"> Current Deck</h2>

                    {{#if hasDecks}}
                    {{#each userDecks}}
      <div class="">
<!-- need to set defense and strength to card id-->
                 <img class="card-img"
          card_id="{{cardId}}"
          src="/images/cardBattle/{{filename}}">
        </div>
                    {{/each}}

                    {{else}}
<div object-right-top>
                  <a href="/customize"> 
                  <button> Create a Deck </button>
                  </a>
</div>
                    {{/if}}
    
<!-- need to set defense and strength to card id-->
    </div>
</section>



        <script src="/js/card-picker.js"></script>
