<section class="min-h-screen w-screen bg-indigo-700 flex justify-center content-center relative pb-28 pt-32">
    <section class="p-10 border-4 border-black bg-orange-600 h-fit">
        <section class="p-10 border-4 border-black h-fit">
            <img class="h-1/3 w-1/3" src="/images/cardBattle/you-died.gif" alt="You died, blue smurf getting snapped">
        </section>
        <section class="p-10 border-4 border-black bg-orange-600 h-fit">
         <a href="/battle">
         <button class="btn-game">
            Play Again
         </button>
         </a>
                  <a href="/customize">
         <button class="btn-game">
            Change Cards
         </button>
         </a>
                  <a href="/">
         <button class="btn-game">
            Go to Homepage
         </button>
         </a>
        </section>
    </section>

</section>