@tailwind base;
@tailwind utilities;
@tailwind components;

@layer components {
    .btn-game {
        @apply py-2 px-4 bg-blue-500 text-white font-press-start border-4 border-black shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-black focus:ring-opacity-75;
    }

    .hide-card {
        @apply hidden
    }

    .bgrnd-selected {
        @apply border-yellow-400
    }

    .hide-button {
        @apply hidden
    }

    .good-health {
        @apply text-lime-500
    }

    .mid-health{
        @apply text-orange-400
    }

    .low-health {
        @apply text-red-700
    }

}

